In [6]:
# Already scraped temperature data from tianqihoubao.com.
# Merging all the files into one data frame for clustering now.
import pandas as pd
import os
import datetime as dt

In [14]:
high = pd.DataFrame()
low = pd.DataFrame()
for x, y, z in os.walk('data/1102/'):
    for f in z:
        city = f.split('_')[0]
        tmp = pd.read_csv(x + f)[['date', 'high', 'low']].set_index('date')
        tmpHigh = tmp[['high']]
        tmpLow = tmp[['low']]
        tmpHigh.columns = [city]
        tmpLow.columns = [city]
        high = high.merge(tmpHigh, left_index=True, right_index=True, how='outer')
        low = low.merge(tmpLow, left_index=True, right_index=True, how='outer')

In [15]:
print(high.shape, low.shape)

(336, 48) (336, 48)

In [16]:
high = high.dropna(axis=0, how='any')
low = low.dropna(axis=0, how='any')
print(high.shape, low.shape)

(326, 48) (330, 48)

In [18]:
high.head()

,烟台,中山,武汉,佛山,南宁,东营,南京,惠州,常州,郑州,...,淄博,上海,哈尔滨,徐州,长春,青岛,深圳,包头,杭州,鞍山
date,,,,,,,,,,,,,,,,,,,,,
2016-02-01,0.0,12.0,4.0,9.0,11.0,2.0,2.0,12.0,3.0,4.0,...,3.0,4.0,-13.0,3.0,-8.0,1.0,12.0,-4.0,3.0,-4.0
2016-02-02,2.0,10.0,6.0,9.0,9.0,5.0,5.0,11.0,6.0,8.0,...,6.0,4.0,-10.0,6.0,-5.0,3.0,11.0,-2.0,3.0,-1.0
2016-02-03,5.0,14.0,8.0,13.0,11.0,7.0,7.0,14.0,7.0,9.0,...,9.0,7.0,-9.0,8.0,-4.0,5.0,15.0,-1.0,6.0,1.0
2016-02-04,1.0,16.0,10.0,14.0,12.0,4.0,7.0,17.0,4.0,9.0,...,6.0,7.0,-11.0,8.0,-6.0,5.0,17.0,-3.0,5.0,-2.0
2016-02-05,1.0,16.0,12.0,16.0,16.0,3.0,9.0,16.0,9.0,9.0,...,4.0,8.0,-9.0,9.0,-7.0,4.0,18.0,-5.0,9.0,-1.0

In [19]:
low.head()

,烟台,中山,武汉,佛山,南宁,东营,南京,惠州,常州,郑州,...,淄博,上海,哈尔滨,徐州,长春,青岛,深圳,包头,杭州,鞍山
date,,,,,,,,,,,,,,,,,,,,,
2016-02-01,-7.0,7.0,-2.0,7.0,6.0,-7.0,-4.0,6.0,-3.0,-5.0,...,-9.0,-1.0,-24.0,-6.0,-17.0,-5.0,8.0,-18.0,-3.0,-11.0
2016-02-02,-6.0,8.0,-4.0,6.0,6.0,-6.0,-4.0,6.0,-2.0,-5.0,...,-6.0,0.0,-20.0,-4.0,-14.0,-4.0,7.0,-17.0,-2.0,-9.0
2016-02-03,-4.0,9.0,-2.0,8.0,8.0,-3.0,-3.0,7.0,-1.0,-2.0,...,-4.0,2.0,-20.0,-2.0,-16.0,0.0,9.0,-15.0,0.0,-7.0
2016-02-04,-5.0,10.0,-2.0,9.0,9.0,-5.0,-1.0,8.0,0.0,-4.0,...,-7.0,3.0,-23.0,-2.0,-17.0,-3.0,11.0,-17.0,2.0,-11.0
2016-02-05,-4.0,8.0,-4.0,7.0,5.0,-5.0,-2.0,7.0,-1.0,-3.0,...,-8.0,1.0,-23.0,-4.0,-18.0,-5.0,9.0,-17.0,1.0,-10.0

In [20]:
high.to_csv('1103_cities48_2016_temperature_high.csv', index=True, encoding='utf-8')
low.to_csv('1103_cities48_2016_temperature_low.csv', index=True, encoding='utf-8')